.solarSystem {
  height: 300px;
  position: relative;
  top: 100px;
  width: 120%;
}

.listaPlanetas {
  display: flex;
  height: 50px;
  justify-content: space-between;
  list-style-type: none;
  position: relative;
  top: 70px;
  width: 100%;
}

.imgPlaneta {
  height: 100px;
  width: 140px;
}

.nomePlaneta {
  color: white;
  text-align: center;
}

.title {
  color: black;
  left: 650px;
}

.header {
  margin-left: 30px;
  width: 100%;
}

.tituloPlaneta {
  left: 650px;
  margin: 0;
}
