body {
  background: url(./images/via-lactea.webp);
  background-size: cover;
  margin: 0;
  position: relative;
  width: 90%;
}

header {
  color: white;
  height: 50px;
  left: 50px;
  position: absolute;
  text-align: center;
  top: 35px;
  width: 100%;
}

h2 {
  color: #FFFFFF;
  /* font-family: 'Epilogue';
  font-style: normal; */
  font-size: 40px;
  font-weight: 300;
  height: 60px;
  left: 43%;
  line-height: 150%;
  position: absolute;
  text-align: center;
  top: 30px;
  width: 16%;
}